<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vue的学习笔记</title>
</head>

<body>
	<ol>
		vue如何创建新项目
		<li>vue create new-project </li>
	</ol>
	<ol>vue的实例方法
		<li>vm.$forceUpdate():迫使 Vue 实例重新渲染。注意它仅仅影响实例本身和插入插槽内容的子组件，而不是所有子组件
			<li>一般用于强制刷新</li>
			<li>vue对于深结构数据无法检测，像直接将数组的长度变成0,或者对象数组直接增加属性,数据不会刷新。
				一般解决方式有两种：  1、用$set设置 this.$set(this.list[index],'sex','男')
									2、使用$forceUpdate()
			</li>
		</li>
		<li>vm.nextTick([callback])
			<li>使用情景：created()中dom没有挂载完毕，若此时操作dom则会报错。使用该函数实现在下一次dom完成挂载时再调用</li>
		</li>
	</ol>
	<ol>vue中如何使用less
		<li>安装less:
			npm install less
			npm install less less-loader
		</li>
		<li>在webpack.base.conf.js中添加rules对象：
			{
			test: /\.less$/,
			loader: "style-loader!css-loader!less-loader"
			}
		</li>
		<li>
			或者在webpack.base.conf.js中添加
			{
			test: /\.less$/,
			loader: ["vue-loader", "css-loader", "less-loader"]
			},
			{
			test: /\.less$/,
			loader: 'vue-loader',
			options: vueLoaderConfig
			}
		</li>
		<li>在html文件内添加 lang="less"</li>
	</ol>
	<ol>
		VScode中快捷键(vue vscode snippets)
		<li>创建基本代码框架:vbase</li>
	</ol>
	<ol>npm run dev报错的解决方式
		<li>提示下载chromedriver
			npm install chromedriver --chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
		</li>
	</ol>
	<ol>vue中带参数跳转
		<li>
			<pre>
				getEditor(item) {
					console.log("push的参数",item)
					  this.$router.push({
						name: "editor",
						params: {
						  item: item
						}
					  });
					}
			</pre>
		</li>
		<li>
			this.data = this.$route.params.item;
		</li>
	</ol>
	<ol>vue中返回上一页
		<li>用axios的方法会改变this指向，用axios方法前，缓存this指针</li>
		<li>
			<pre>
				cancel() {
					this.$router.go(-1);
				  },
			</pre>
		</li>
	</ol>
	<ol>vue中使用省市县的选择
		<li>使用插件：https://distpicker.pigjian.com/</li>
		<li>安装
			<pre>
				npm install v-distpicker --save
			</pre>
		</li>
		<li>在main.js中导入
			<pre>
				import Distpicker from 'v-distpicker'
				Vue.component('v-distpicker', Distpicker)
			</pre>
		</li>
		<li>在需要调用的页面 js中定义引入
			<pre>
				import VDistpicker from "v-distpicker";
				components: { VDistpicker }
			</pre>
			<pre>
				<el-form-item label="地区">
					<v-distpicker
					  :province="form.province"
					  :city="form.city"
					  :area="form.county"
					  @province="onChangeProvince"
					  @city="onChangeCity"
					  @area="onChangeArea"
					></v-distpicker>
					<el-input
					  type="textarea"
					  v-model="form.area"
					  placeholder="请输入详细门牌号"
					  style="margin-top: 10px;"
					></el-input>
				  </el-form-item>
			</pre>
			<pre>绑定值
				//地区选择----省
    			onChangeProvince(data) {
    			  this.form.province = data.value;
    			},
    			//地区选择----市
    			onChangeCity(data) {
    			  this.form.city = data.value;
    			},
    			//地区选择----县
    			onChangeArea(data) {
    			  this.form.county = data.value;
    			},
			</pre>
		</li>
	</ol>
	<ol>vue中Token失效返回登陆页
		<li>
			<pre>
				/**
				 * 响应拦截
				 */
				http.interceptors.response.use(response => {
				  console.log(response)
				  if (response.data && response.data.code === 401) { // 401, token失效
				    Vue.cookie.delete('token')
				    router.options.isAddDynamicMenuRoutes = false
				    // router.push({ name: 'logIn' }) 
				    parent.location.href ='/login.html';
				  }
				  return response
				}, error => {
				  return Promise.reject(error)
				})
			</pre>
		</li>
	</ol>
	<ol>vue的键盘回车时间
		<li>如果是原生的input，使用 @keyup.enter就可以，若是使用了element-ui，
			则要加上native限制符，因为element-ui把input进行了封装，原事件就不起作用了</li>
		<li>
			<pre>
				<el-input v-model="form.name" placeholder="昵称" @keyup.enter.native="submit"></el-input>
				<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" @keyup.enter.native="submitForm('ruleForm')">
			</pre>
		</li>
		<li>
			<pre>
				<input v-model="form.name" placeholder="昵称" @keyup.enter="submit">
			</pre>
		</li>
	</ol>
	<ol>vue ElementUI弹窗
		<li>删除之前有确定弹框
			<pre>
				this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				  }).then(() => {
					this.$message({
					  type: 'success',
					  message: '删除成功!'
					});
				  }).catch(() => {
					this.$message({
					  type: 'info',
					  message: '已取消删除'
					});          
				  });
			</pre>
		</li>
		<li>ElementUI 警告弹窗
			<pre>
				this.$message.error(data.msg);
			</pre>
		</li>
	</ol>
	<ol>IE不兼容es6写法 vue中安装插件
		<li>npm install --save babel-polyfill</li>
	</ol>
	<ol>vue启动报错：CALL_AND_RETRY_LAST Allocation failed-process out of memory
		<ul>方式1：（亲测可用）
			<li>安装increase-memory-limit插件</li>
			<li> npm install -g increase-memory-limit</li>
			<li>运行 increase-memory-limit</li>
			<li>在nodemodule中webpack.cmd文件生成node --max-old-space-size=10240 "%~dp0\..\webpack\bin\webpack.js" %*</li>
		</ul>
		<ul>方式2：
			<li>在package.json文件中通过手动给"build"设置 --max_old_space_size=4096 来增加内存
			<li>build:node --max_old_space_size=4096 build/build.js</li>
		</ul>

		</li>
	</ol>
	<ol>vue Element table的用法
		<li>增加index索引
			<pre><el-table-column type="index" align="center" width="50"></el-table-column></pre>
		</li>
		<li>多选：
			<pre><el-table-column type="selection" :reserve-selection="true"></el-table-column></pre>
		</li>
		<li>点击行实现复选
			<pre>
			<el-table
            	border
            	ref="multipleTable"
            	:data="inviteMemberList.list" //绑定的数据
            	style="width: 100%"
            	tooltip-effect="dark"
            	@selection-change="selectionChange" //选择发生改变时
            	@row-click="clickRow" //行点击事件  实现复选
            	:row-key="getRowKeys" //实现行点击复选必写
          ></el-table>
			</pre>
		</li>
		<li>清除所有已复选
			<pre>this.$refs.multipleTable.clearSelection()</pre>
		</li>
	</ol>
	<ol>父与子的传值
		<li>一般来说自定义出来复用的组件称为子组件，调用子组件的vue称为父组件</li>
		<li>父组件中引入子组件：
			<pre>
				ts:
				import PersonList from '../../components/PersonList'
				components: {
					PersonList
				},
				html:
				<person-list
        			@change="handlePersonListChange"
        			@cancel="cancel" //监听子组件传来的方法
        			:multipleSelectionList1="multipleSelectionList1" //传向子组件
        			:formType="formType"
        			ref="PersonList"
      			></person-list>
			</pre>
		</li>
		<li>子组件中拿到父组件传来的值
			<pre>
				props: {
					multipleSelectionList1: Array,
					formType: String
				  },
				<!-- 触发父组件@change的事件并传值给父组件 -->
				this.$emit('change', this.multipleSelectionList, this.formType)
			</pre>
		</li>
		<li>父组件调用子组件的方法：this.$refs.PersonList.cancelSelect()</li>
	</ol>
	<ol>select的用法
		<li>拿到选中的option的这条信息
			<pre>
				<el-select
					class="input-width-edit"
					placeholder="请选择检查标准"
					@focus="queryStrdandFileList('updateForm')"
					v-model="updateForm.checkStandard"
					@change="selectDoc($event)"
				  >
				  <el-option
              		v-for="item in checkStandardFileList"
              		:key="item.id"
              		:label="item.fileName"
              		:value="item.id"
            	  ></el-option>
			</pre>
			<pre>
				selectDoc ($event) {
					let obj = {}
					obj = this.checkStandardFileList.find((item) => { // 这里的userList就是上面遍历的数据源
					  return item.id === $event // 筛选出匹配数据
					})
					console.log(obj) // 我这边的name就是对应label的
					this.createForm.downloadUrl = obj.fileUrl
				},
			</pre>
		</li>
	</ol>
	<ol>MVP设计模式
		<li>M:model层 指的是数据层（即通过ajax获取的数据）</li>
		<li>V:view层 视图层 指的是通过dom渲染呈现的视图</li>
		<li>P: presenter层 呈现层 指的是业务逻辑的的控制层 </li>
		<li>流程一般为：视图层发生一个事件交给控制器，控制器去调用ajax获取数据或者直接操作dom，根据视图发生的事件，控制器自己的逻辑去决定dom怎么重新修改
			precenter层是MVP中最核心的一层，它里面放的逻辑是视图和控制之间的中转站
		</li>
	</ol>
	<ol>vue采用的是MVVM设计模式
		<li>M：model</li>
		<li>VM:ViewModel</li>
		<li>M</li>
	</ol>
	<ol>Vue版本的安装和卸载
		<li>卸载2使用 npm uninstall vue-cli -g </li>
		<li>卸载3使用 npm uninstall -g @vue/cli</li>
		<li>卸载4使用 npm uninstall -g @vue/cli</li>
		<li>安装2使用 npm install vue-cli -g</li>
	</ol>
	<ol>npm命令
		<li>npm cache clean --force</li>
	</ol>
	<ol>vue Element中table中添加expand展开行
		<li>
			<pre>
				<el-table
            		ref="multipleTable"
            		:data="constructionUnitList.list" // 绑定数据
            		style="width: 100%"
            		v-loading="tableLoading" // 显示加载中	
            		@expand-change="acquireUserId" // 点击展开行三角图标
            		:expand-row-keys="expands" // 结合row-key使用 给每一行一个唯一标识
            		:row-key="getRowKeys"
				  >
				  <el-table-column :show-overflow-tooltip="true" type="expand">
						<template slot-scope="props"> // 插入props模版
							<div>
								<el-tabs
								  v-model="props.row.activeName" // 给table每一行绑定activeName
								  @tab-click="handleClick" // 行点击事件
								>
									<el-tab-pane label="tab1" name="first"></el-tab-pane>
									<el-tab-pane label="tab2" name="second"></el-tab-pane>
								</el-tabs>	
							</div>
						</template>
				  </el-table-column>
				</el-table>
				<!-- data -->
				expands: [], // 施工记录展开行
      			getRowKeys (row) {
        			return row.id
				  },
				<!-- methods -->
				acquireUserId (row, expandedRows) {
					var that = this
					if (expandedRows.length) {
					  that.expands = []
					  if (row) {
						that.expands.push(row.id)
					  }
					} else {
					  that.expands = []
					}
					Do Something....
				},
			</pre>
		</li>
	</ol>
	<ol>vue ElementUI中form中清空表单数据
		if (this.$refs[formName] !== undefined) {
		this.$refs[formName].resetFields()
		}
	</ol>
	<ol>vue ElementUI中绑定值与字符串拼接两种写法
		<ul>
			<li><code>:title="`字符串${xx}`"</code></li>
			<li><code>:title="'字符串' + xx"</code></li>
		</ul>
		<ul>
			<li><code>:ref="`'createDeptTreeSelect'${scope.$index}`"</code></li>
			<li><code>this.$refs[`'createDeptTreeSelect'${this.selectedAccidentIndex}`].dropdown.hide()</code></li>
		</ul>
	</ol>
	<ol>elementUI中table合计
		<li>
			<pre>
				<el-table
				:data="tableData6"
				border
				:summary-method="getSummaries"
				show-summary
				style="width: 100%; margin-top: 20px"
			  >
				<el-table-column prop="id" label="ID"></el-table-column>
				<el-table-column prop="name" label="姓名"></el-table-column>
				<el-table-column prop="amount1" label="数值 1（元）"></el-table-column>
				<el-table-column prop="amount2" label="数值 2（元）"></el-table-column>
				<el-table-column prop="amount3" label="数值 3（元）"></el-table-column>
				<el-table-column label="总分" width="100" prop="total">
				  <template slot-scope="scope">
					<el-input
					  size="small"
					  v-model="scope.row.total"
					  placeholder="请打分"
					  style="width: 80px;"
					  @blur="getTotalPoint(scope)"
					></el-input>
				  </template>
				</el-table-column>
			  </el-table>
			</pre>
			<pre>
				tableData6: [{
					id: '12987122',
					name: '王小虎111',
					amount1: '234',
					amount2: '3.2',
					amount3: 10,
					total: ''
				  }, {
					id: '12987123',
					name: '王小虎222',
					amount1: '165',
					amount2: '4.43',
					amount3: 12,
					total: ''
				  }, {
					id: '12987124',
					name: '王小虎333',
					amount1: '324',
					amount2: '1.9',
					amount3: 9,
					total: ''
				  }, {
					id: '12987125',
					name: '王小虎444',
					amount1: '621',
					amount2: '2.2',
					amount3: 17,
					total: ''
				  }, {
					id: '12987126',
					name: '王小虎555',
					amount1: '539',
					amount2: '4.1',
					amount3: 15,
					total: ''
				  }]
			</pre>
			<pre>
				// 失去焦点
    			getTotalPoint (scope) {
    			  let total = 0
    			  for (let key in scope.row) {
    			    if (key.indexOf('amount') > -1) {
    			      total += (+scope.row[key])
    			    }
    			  }
    			  scope.row.total = total
    			},
    			getSummaries (param) {
    			  const {
    			    columns,
    			    data
    			  } = param
    			  console.log('param', param)
    			  // console.log('data', data)
    			  const sums = []
    			  columns.forEach((column, index) => {
    			    // column 表示列
    			    if (index === 0) {
    			      sums[index] = '总价'
    			      return
    			    }
    			    const values = data.map(item => {
    			      return Number(item[column.property])
    			    })
    			    if (!values.every(value => isNaN(value))) {
    			      sums[index] = values.reduce((prev, curr) => {
    			        const value = Number(curr)
    			        if (!isNaN(value)) {
    			          return prev + curr
    			        } else {
    			          return prev
    			        }
    			      }, 0)
    			      sums[index] += ' 元'
    			    } else {
    			      sums[index] = 'N/A'
    			    }
    			  })
    			  return sums
    			},
			</pre>
		</li>
	</ol>
	<ol>elementUI中form中嵌套table校验
		<li>
			<pre>
				<el-form @submit.native.prevent :model="createFillForm" ref="createFillForm">
					<el-table
          				ref="multipleTable"
          				style="width: 100%;padding-left: 20px;"
          				tooltip-effect="dark"
          				v-loading="tableLoading"
          				:data="createFillForm.accidentReasonBeanList"
						  @selection-change="handleSelectionChange"
					>				
          				<el-table-column
          				  :show-overflow-tooltip="true"
          				  prop="directCause"
          				  align="center"
          				  label="直接原因"
          				>
          				  <template slot-scope="scope">
              				<el-form-item
              				  :prop="'accidentReasonBeanList.' + scope.$index + '.directCause'"
              				  :rules="{ required: true, message: '原因判断不能为空', trigger: 'blur'}"
              				>
                				<el-select
                				  v-model="scope.row.directCause"
                				  placeholder="请选择直接原因"
                				  clearable
                				  filterable
                				  style="width:300px"
                				>
                				  <el-option
                				    v-for="item in directCauseList"
                				    :key="item.baseCode"
                				    :label="item.baseName"
                				    :value="item.baseCode"
                				  ></el-option>
                				</el-select>
              				</el-form-item>
          				  </template>
          				</el-table-column>
        			</el-table>
				</el-form>
			</pre>
		</li>
	</ol>
	<ol>vuex
		<li>Vuex 是一个专为 Vue.js 应用程序开发的状态管理模式。</li>
		<li>状态自管理包括(单数据流)
			<ul>
				<li>state，驱动应用的数据源；</li>
				<li>view，以声明方式将 state 映射到视图；</li>
				<li>actions，响应在 view 上的用户输入导致的状态变化</li>	
			</ul>
		</li>
		<li>使用场景：vuex可以管理共享状态。适合使用在大型单页面开发。一般业务场景比较简单的不建议使用</li>
		<li>vuex和单纯的全局对象的区别
			<ul>
				<pre>
					import Vue from 'vue'
					import Vuex from 'vuex'
									
					const store = new Vuex.Store({
					  state: { // 储存普通变量
					    count: 0
					  },
					  mutations: { // 储存方法 改变state中变量的值
					    increment (state) {
					      state.count++
					    }
					  }
					})
					store.commit('increment')
					console.log(store.state.count) // -> 1
				</pre>
				<li>vuex的状态是响应式的。当vue组件从score中读取状态的时候，如果score的状态发生改变，相应的组件也会及时更新</li>
				<li>vuex的状态是不可以直接改变的，需要提交（commit）mutation的方式改变</li>
				<li>this.$store.state.count: 获取state中的属性</li>
				<li>this.$store.commit('increment'):调用mutations中的方法来改变state中的值</li>
				<li>由于 Vuex 的状态存储是响应式的，从 store 实例中读取状态最简单的方法就是在计算属性中返回某个状态</li>
				<pre>
					...将mapState函数返回的对象与局部计算属性混合使用
					computed: { // mapState 辅助函数(返回结果是一个对象) ...为es6中对象扩展符（意为把辅助函数中的值和computed中的变量合并在一起计算）
						...mapState(["wuliaochuku", "getNowDate", "userInfo", "SETRECEIVABLES"])
					},
				</pre>
				<li>mapState函数：若组件中需要获取多个状态 需要进行计算 则引入为state中的变量</li>
				<li>mapMutations函数:辅助函数 调用mutations中的函数</li>
			</ul>
		</li>
		<li>vuex的核心是store（仓库）。</li>
	</ol>
	<ol>vue 插槽
		<li></li>
	</ol>
	<ol>vue bus:非父子之间的传值
		<li>在公共文件内创建bus.js
			import Vue from 'vue';
			let Bus = new Vue();
			export default Bus;
			<!-- Vue.prototype.$bus = vue -->
		</li>
		<li>在A.vue文件中引入a.vue和b.vue文件</li>
		<li>$emit， $on， $off 分别来分发、监听、取消监听事件</li>
		<li>分发事件的组件(a.vue调用b.vue中的todoSth())
			methods: {
				todo: function () {
				this.$bus.$emit('todoSth', params); //params是传递的参数
				//...
				}
			}
		</li>
		<li>监听的组件
			created() {
				this.$bus.$on('todoSth', (params) => { //获取传递的参数并进行操作
				 //todo something
				})
				this.$bus.$on('firstTodo', this.firstTodo); //可以触发多个
 				this.$bus.$on('secondTodo', this.secondTodo);
			},
			// 最好在组件销毁前
			// 清除事件监听
			beforeDestroy () {
				this.$bus.$off('todoSth');
				this.$bus.$off('firstTodo', this.firstTodo); //可以触发多个
 				this.$bus.$off('secondTodo', this.secondTodo);
			},
		</li>
	</ol>
	<ol>vue 拖拽 vuedraggable插件
		<li>https://blog.csdn.net/zjiang1994/article/details/79809687</li>
		<pre>
			<!-- animation:动画时间 handle：拖拽class='move'才触发移动  
				 ghostClass: selector 格式为简单css选择器的字符串，当拖动列表单元时会生成一个副本作为影子单元来模拟被拖动单元排序的情况，
				 			 此配置项就是来给这个影子单元添加一个class，我们可以通过这种方式来给影子元素进行编辑样式
			-->
			<draggable  :list="templateList" @end="sortEnd" :options="{animation: 0, ghostClass: 'ghost',handle:'.move'}">
				<div class="row" v-for="(item,key) in templateList" :key="key">
					<div class="col">{{item.type}}</div>
					<div class="col">{{item.name}}</div>
					<div class="col">{{item.description || '-'}}</div>
					<div class="col">
						<div class="ipt" @click.stop="enableFunc(item)">
							<input class="radio" :checked="item.is_enable == 1" type="checkbox" />
							<label>
								<i class="icon iconfont">&#xe797;</i>
							</label>
							<span class="mask"></span>
						</div>
					</div>
					<div class="col">
						<span @click.stop="editTemplate(item)">编辑</span>
						<span @click.stop="cloneTrmplate(item)">复制</span>
						<span :class="item.is_system == 1 ? 'grey' : 'red'" @click.stop="delTemplate(key)">删除</span>
					</div>
					<div class="col"><i class="icon iconfont move">&#xe6b8;</i></div>
				</div>
			</draggable>
		</pre>
	</ol>
	<ol>elementUI中select组件 多选时下拉框不能关闭
		<li>
			<el-select ref="selectAppType" v-model="inputVal" clearable filterable :multiple="true" @change="currentSel">
                <el-option
                  v-for="(i,k) in item.values"
                  :key="k"
                  :label="i.value"
                  :value="i.value"
                >
                </el-option>
			</el-select>
			<!-- js -->
			currentSel(){
				let _this = this;
 	 			setTimeout(function() {
        			_this.$refs.selectAppType.blur();
     			}, 50);
			}
		</li>
	</ol>
	<ol>props接收参数
		<li>
			refAge: {
				　　type: Number,
				　　default: 0
			},
			refName: {
			　　type: String,
			　　default: ''
			},
			hotDataLoading: {
			　　type: Boolean,
			　　default: false
			},
			hotData: {
			　　type: Array,
			　　default: () => {
			　　　　return []
			　　}
			},
			getParams: {
			　　type: Function,
			　　default: () => () => {}
			},
			meta: {
			　　type: Object,
			　　default: () => ({})
			}
		</li>
		<li>接收多种类型参数
			originalData: {
				type: Array | Object,
				default () {
				  return []
				}
			}
		</li>
	</ol>
	<ol>vue点击空白地方触发函数
		<li>
			<div  v-clickoutside="hideAddress"></div>
			const clickoutside = {
				// 初始化指令
				bind(el, binding, vnode) {
					function documentHandler(e) {
						// 这里判断点击的元素是否是本身，是本身，则返回
						if (el.contains(e.target)) {
							return false;
						}
						// 判断指令中是否绑定了函数
						if (binding.expression) {
							// 如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
							binding.value(e);
						}
					}
					// 给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
					el.__vueClickOutside__ = documentHandler;
					document.addEventListener('click', documentHandler);
				},
				update() {},
				unbind(el, binding) {
					// 解除事件监听
					document.removeEventListener('click', el.__vueClickOutside__);
					delete el.__vueClickOutside__;
				},
			};
			directives: {clickoutside},
			hideAddress();
		</li>
	</ol>
</body>

</html>